.container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 350px;
    background: '';
    border-radius: 15px;

    box-shadow: 0px 4px 20px 5px #0000003c;
}

.title {
    width: 280px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 20px 5px #0000003c;
    background-color: #4E71FE;




    font: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.36px;
    text-align: left;
    color: #FFFFFF;
}

.content {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.counterDisplay {
    width: 280px;
    height: 120px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 2px solid #4E71FE;

    display: flex;
    align-items: center;
    justify-content: center;

    font: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
    color: #4E71FE;


}

.blockButtons {
    width: 280px;
    height: 70px;
    border-radius: 10px;
    /* margin-bottom: 20px; */
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    width: 86px;
    height: 30px;
    margin: 0;

    /* margin-left: 12px; */
    border-radius: 5px;
    align-items: center;
    text-align: center;

    font: Inter;
    font-size: 10px;
    font-weight: 700;
    line-height: 20px;

    color: #4E71FE;

    border: 2px solid #4E71FE;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 20px 5px #00000018
}